{% extends "PlatypusBundle:Default:layout.html.twig" %}

{% block title %}PlatypusBundle:Checker:showParams

{% endblock %}

{% block body %}


<link rel="stylesheet" href="{{ asset('style.css') }}" />

<table>

    {% set count = 0 %}
    {% for key, value in GET  %}
        <tr><td>{{key}}</td> <td>{{value}}</td></tr>
        {% set count = count + 1 %}
    {% endfor %}

    {{count}}
    {{app.environment}}


</table>


{% endblock %}
