{% extends "PlatypusBundle:Default:layout.html.twig" %}

{% block title %}PlatypusBundle:Checker:show{% endblock %}

{% block body %}

{% if type == "Platypus"%}
  <h1>I salute you, Ô great master</h1>
{% else %}
  <h1>Greetings, great {{type}} {{id}}</h1>
{% endif %}

{% endblock %}
