<!DOCTYPE html>
<html>
<head>


  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  {% include "PlatypusBundle:Default:header.html.twig" %}
  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
  {% include "PlatypusBundle:Default:footer.html.twig" %}

</body>
</html>
