{% extends "base.html.twig" %}

{% block body%}

<link rel="stylesheet" href="{{ asset('style.css')}}"/>
<table>

<tr><td>Id</td><td>Username</td><td>Email</td><td>First Name</td><td>Last Name</td><td>Creation Date</td><td>Role</td></tr>
{% for elem in users%}
<tr>
<td>{{elem.id}}</td>
<td>{{elem.username}}</td>
<td>{{elem.email}}</td>
<td>{{elem.firstName}}</td>
<td>{{elem.lastName}}</td>
<td>{{elem.creattionDate|date('Y-m-d')}}</td>
<td>{{elem.roles[0]}}<td>
<td><a href="{{ path('edit_a_user', {'id': elem.id}) }}">edit this user</a></td>
<td><a href="{{ path('delete_a_user', {'id': elem.id}) }}">delete this user</a></td>

</tr>



{%endfor%}

</table>
{%endblock%}
