{% extends "base.html.twig" %}

{% block body%}
<a href="{{ path('edit_user') }}">Edit User</a>
<a href="{{ path('list_user') }}">List all users</a>
<a href="{{ path('view_all_posts') }}">List all posts</a>
<a href="{{ path('create_new_post') }}">Create a new Post</a>



Hello {{user.getUsername()}}

{%endblock%}
