{% extends "base.html.twig" %}

{% block body%}

{% if tag == "pas encore fait"  %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


{%endif%}

{% if tag == "ok" %}

{{text}}
<a href="{{ path('login') }}">Please log in</a>


{%endif%}

{% if tag == "Erreur" %}

{{text}}

{%endif%}

{%endblock%}
