{% extends "base.html.twig" %}

{% block body%}

<link rel="stylesheet" href="{{ asset('style.css')}}"/>
<table>

<tr><th>Id</th><th>Title</th><th>Content</th><th>Creation Date</th><th>Modification Date</th></tr>
{% for elem in posts%}
<tr>
<td>{{elem.id}}</td>
<td>{{elem.title}}</td>
<td>{{elem.content}}</td>
<td>{{elem.creation_date|date('Y-m-d')}}</td>
<td>{{elem.modification_date|date('Y-m-d')}}</td>
<td><a href="{{ path('edit_a_post', {'id': elem.id}) }}">edit this article</a></td>
<td><a href="{{ path('delete_a_post', {'id': elem.id}) }}">delete this article</a></td>
</tr>

{%endfor%}

<table>
<p><a href="{{ path('create_new_post') }}" class="home_btn">Create a new Post</a></p>




{% endblock %}
