{% extends "base.html.twig" %}

{% block body%}

<link rel="stylesheet" href="{{ asset('style.css')}}"/>
<table>

<tr><th>Id</th><th>Title</th><th>Content</th><th>Creation Date</th><th>Modification Date</th></tr>
{% for elem in posts%}
<tr>
<td>{{elem.id}}</td>
<td>{{elem.title}}</td>
<td>{{elem.content}}</td>
<td>{{elem.creationDate|date('Y-m-d')}}</td>
<td>{{elem.modificationDate|date('Y-m-d')}}</td>
<td><a href="{{ path('edit_a_post', {'id': elem.id}) }}">edit this article</a></td>
<td><a href="{{ path('delete_a_post', {'id': elem.id}) }}">delete this article</a></td>
</tr>

{%endfor%}

<table>
<p class="home_btn"><a href="{{ path('create_new_post') }}">Create a new Post</a></p>
<p class="home_btn"><a href="{{ path('show_my_posts') }}">Show my posts</a></p>





{% endblock %}
