{% extends "base.html.twig" %}

{% block body%}

<link rel="stylesheet" href="{{ asset('style.css')}}"/>
<table>

<tr><td>Id</td><td>Title</td><td>Content</td><td>Creation Date</td><td>Modification Date</td></tr>
{% for elem in posts%}
<tr>
<td>{{elem.id}}</td>
<td>{{elem.title}}</td>
<td>{{elem.content}}</td>
<td>{{elem.creationDate|date('Y-m-d')}}</td>
<td>{{elem.modificationDate|date('Y-m-d')}}</td>
</tr>

{%endfor%}

<table>

  <p><a href="{{ path('show_my_posts') }}" class="home_btn">Show my posts</a></p>



{% endblock %}
