body
{
  font-family: arial;
  padding-bottom: 200px;

}
table
{
  border: 2px solid #000000;
  width:50%;
  text-align: center;
  margin: auto;


}

td, th {
/* border: thin solid #6495ed;*/

width: 50%;
/* border-top: 1px solid #ddd;*/


padding: 1% 5%;
padding-left: 15px;
padding-right: 15px;


}

td
{
  border-top: 1px solid #ddd;
}

th
{
  text-align: center;
}

.home_btn, .create_btn
{
text-decoration: none;
border:1px solid black;
padding:1%;
border-radius: 10px;
margin:50px;
}

a
{
  text-decoration: none;
}

#footer
{
  bottom:0;
  position: fixed;
  width: 100%;
  background-color: white;
}

p
{

}

footer
{
  padding-bottom: 20px;
}
